@font-face {
  font-family: "Conthrax";
  src: url("../assets/fonts/Conthrax-SemiBold.otf") format("opentype");
}

html, body {
  background-color: #131313;
  min-height: 100dvh;  /* or 100% */
  /* remove height: fit-content !important; */
}

.main-gradient {
  background: linear-gradient(90deg, #5EBBC3 0%, #6DE7C2 100%);
}

#CybotCookiebotDialog{
  display: none !important;
  visibility: hidden !important;
}

.howItWorksImgDesktop {
  display: block !important;
}
.howItWorksImgMobile {
  display: none !important;
}

.mobileGradient {
  display: none;
}

#howItWorksDesktopLine {
  display: block;
}

#howItWorksMobileLine {
  display: none;
}

.coinsDesktop {
  display: block !important;
}

.coinsMobile {
  display: none !important;
}

@media (max-width: 1024px) {
  .mobileGradient {
    display: block !important;
  }
  .howItWorksUnion {
    display: none !important;
  }
  .howItWorksImgDesktop {
    display: none !important;
  }
  .howItWorksImgMobile {
    display: block !important;
  }
  #howItWorksDesktopLine {
    display: none !important;
  }
  #howItWorksMobileLine {
    display: block !important;
  }
  .coinsDesktop {
    display: none !important;
  }
  .coinsMobile {
    display: block !important;
  }

}


.conthrax {
  font-family: "Conthrax", sans-serif !important;
}

