html, body {
  background-color: #131313;
  min-height: 100dvh;  /* or 100% */
  /* remove height: fit-content !important; */
}

.main-gradient {
  background: linear-gradient(90deg, #5EBBC3 0%, #6DE7C2 100%);
}

#CybotCookiebotDialog{
  display: none !important;
  visibility: hidden !important;
}