@font-face {
  font-family: "Conthrax";
  src: url("../assets/fonts/Conthrax-SemiBold.otf") format("opentype");
}

html, body {
  background-color: #131313;
  min-height: 100dvh;
  overflow-x: hidden;
}

.main-gradient {
  background: linear-gradient(90deg, #5EBBC3 0%, #6DE7C2 100%);
}

#CybotCookiebotDialog{
  display: none !important;
  visibility: hidden !important;
}

.howItWorksImgDesktop {
  display: block !important;
}
.howItWorksImgMobile {
  display: none !important;
}

.mobileGradient {
  display: none;
}

#howItWorksDesktopLine {
  display: block;
}

#howItWorksMobileLine {
  display: none;
}

.coinsDesktop {
  display: block !important;
}

.coinsMobile {
  display: none !important;
}

.mobileCoin1 {
  display: none !important;
}

.registrationChevronDesktop {
  display: block !important;
}

.registrationChevronMobile {
  display: none !important;
}

.readyToClaimCoin {
  display: block !important;
}

@media (max-width: 1024px) {
  .readyToClaimCoin {
    display: none !important;
  }
  .registrationChevronDesktop {
    display: none !important;
  }
  .registrationChevronMobile {
    display: block !important;
  }
  .mobileGradient {
    display: block !important;
  }
  .howItWorksUnion {
    display: none !important;
  }
  .howItWorksImgDesktop {
    display: none !important;
  }
  .howItWorksImgMobile {
    display: block !important;
  }
  #howItWorksDesktopLine {
    display: none !important;
  }
  #howItWorksMobileLine {
    display: block !important;
  }
  .coinsDesktop {
    display: none !important;
  }
  .coinsMobile {
    display: block !important;
  }
  .mobileCoin1 {
    display: block !important;
    animation: float 6s ease-in-out infinite;
  }

}


.conthrax {
  font-family: "Conthrax", sans-serif !important;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


